.message__container {
    background-color: rgb(40, 230, 40);
    color: white;
    width: max-content;
    height: max-content;
    padding: 10px 70px;
    border-radius: 20px;
    position: fixed;
    z-index: 10;
    right: -1000px;
    overflow: hidden;
}

.top {
    top: 10%;
}

.bottom{
    bottom: 10%;
}

.show{
    animation: showSucessMessage 5s ease-in-out;
}

.progress{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background-color: rgb(60, 0, 255);
    animation: progress 5.5s ease-in-out;
}

@keyframes showSucessMessage {
    0% {
        opacity: 1;
        right: -1000px;
    }
    5%{
        right: 30px;
        opacity: 1;
    }
    10% {
        right: 20px;
        opacity: 1;
    }
    95% {
        right: 20px;
        opacity: 1;
    }
    100% {
        right: -1000px;
        opacity: 0;
    }
}

@keyframes progress  {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
